#logo{
	float: left;
	margin-right: 10px;
}
.navbar{
	min-height: 70px;
}
.navbar-brand{
	line-height: 40px;
}
.re-images img{
	width:100%;
}

.navbar-default{
	//background-color: #1299c9;
	color:#fff;
}
.order-info{
	display: none;
}
.users{
	display: none;
}